body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.navbar {
    padding: 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.8);
    background-color: #ECECEC;
}

.navbar-left img {
    width: 120px;
}

.navbar-left img:hover {
    cursor: pointer;
}

.navbar-left div {
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left>*,
.navbar-right>* {
    margin: 8px;
}

.navbar-left div:hover {
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.navbar-left input[type="text"] {
    padding-right: 100px;
    margin-left: 70px;
}

.navbar-left input[type="submit"] {
    cursor: pointer;
}

.navbar-right img {
    width: 30px;
    height: 30px;
}

.sign-in,
.cart {
    font-weight: 500;
    border: 1px solid black;
    border-radius: 40px;
    padding: 5px 20px 5px 20px;
}

.sign-in,
.cart {
    background-color: black;
    color: white;
}

.sign-in:hover,
.cart:hover {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

header {
    flex: content;
    height: 10vh;
}

section_2 {
    margin-left: auto;
    margin-right: auto;
}

section_3 {
    flex: content;
    width: 65%;
    height: auto;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

section_5 {
    width: 100%;
    height: 10vh;
    background-color: beige;
    flex: content
}

section_6 {
    width: 100%;
    height: 70vh;
    flex: content;
}

h1 {
    font-size: 50px;
    text-indent: 30px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 30px;
}

p1 {
    margin-left: 5%;
    margin-right: 5%
}

p {
    font-size: 14px;
    text-align: justify;
    text-indent: 30px;
}

p2 {
    text-align: left;
}

p3 {
    font-size: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}


.container_a {
    display: block;
}

.container_b {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.container_c {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

.container_c1 {
    padding-left: 10px
}

.container_d {
    display: block;
    padding-top: 30px
}

.container_e {
    width: 70px;
    height: 120px;
    float: left;
}

.container_f {
    width: 32%;
    height: 120px;
    float: right;
}

a {
    color: inherit;
    text-decoration: none;
}